.about-container {
  padding: 20px;
  max-width: 880px;
  margin: 0 auto;
}

.about-container h2 {
  color: var(--text-color);
}

.about-container p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--muted);
}